# 10814 나이순 정렬

In [1]:
N = 3

나이 순, 나이가 같으면 가입한 순으로 정렬

In [20]:
lst  = [(21,'Junkyu'),(21,'Dohyun'),(20,'Sunyoung')]

In [23]:
sorted_lst = sorted(lst, key = lambda x:x[0])

In [24]:
sorted_lst

[(20, 'Sunyoung'), (21, 'Junkyu'), (21, 'Dohyun')]

In [30]:
for element in sorted_lst:
    for i in element:
        print(i,end=" ")
    print("")

20 Sunyoung
21 Junkyu
21 Dohyun